*{
    padding: 0;
}
body{
    width: 50%;
    /* auto>> 2 sides margin equal ga teskuntundi */
    margin: auto;
}
.title{
    font: 28.8px "linux libertine";color: black;
    font-size: larger;
}
nav{
    margin: 8px;margin-left: 0;
}
a{
    text-decoration: none;
}
.home{color: #202122; margin-right: 15px;border-bottom: 2px solid;padding-bottom: 7px;}
img{float: right;margin-left: 10px;}
p{
    font: 14px sans-serif;color: #202122;
    line-height: 160%;
}